@import "../../styles/colors.scss";


.header {
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  background-color: $primary;
  align-items: center;

  .img_logo {
    background-image: url(../../images/logo.png);
    width: 187px;
    height: 178px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px -1px $black;
  }
}
